

body {
  
  text-align: center;
  font-size: 100%;
  
  line-height: 1.5;
  background: #f5d5e0;
  color: (white, 0.7)
  h1, h2, h3, h4, h5;
  margin: auto;
}
h1{
    font-size: 90px;
    line-height: 1.1;
    @media screen and (max-width: 40em);
      font-size: 50px;
      line-height: 1.25;
  color: white;
  font-family: "Lora";
      }
h2 {
  color: white
}
h4{
    font-size: 24px;
    margin-bottom: 0.3em;
}



p {
  color: #FFF;
  text-align: center;
  font: 2em sans-serif;
  padding-top: 35px;
  font-size: 20px;
    line-height: 1.5;
  
  margin-left: 300px;
  margin-right: 300px;
}

.fade {
  opacity: 0;
  transition all: 0.6s;
  text-wrap: wrap;
}

.fade.out{
  opacity: 0;
  transform: translateY(20px);
}
